/* First comment */

/* my comment here */

/* any
comment
here
as well */

*{
  margin: 0;
  line-height: 1;
  font-size: 100%;
  box-sizing: border-box;
}

body{
  background-color: biege;
  color: black;
  /* font-family: nunito; */
  margin: 25px;
  background-image:url(images/spikes.png);
  background-repeat: repeat;
}

.title{

  font-size:70px;
  text-decoration:underline;
}

h1{
  color:White;
  font-size:40px;
}

h2{
  font-size:30px;
}
h3{
  font-size: 30px;
  line-height: 2
}

h1,h2,h3{
  font-weight: normal;
  font-weight: bold;
  font-style: italic;
}

p{
  line-height: 1.5;
  text-align: left;
  margin:15px 0px;
}

ul,ol{
  margin:15px 0px;
}

h1{
  text-align:center;

}

a:link,
a:focus,
a:active{
  color:black;
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}
header{
  background-color:darkgrey;
  color:white;
}
section {
  background-color:grey;
  color: white;
  border-bottom: 10px solid grey;
  padding:30px;
  margin:30px;
}

footer{
  background-color:yellow;
  color : white;
}


header,
section,
footer{
  padding:30px;
}

img{
  /* width:400px; */
  height: 300px;
  width: 50%;
}
.block{
  border-bottom: 5px solid orange;
}

.shadow{
  -webkit-box-shadow: 0px 4px 20px -5px rgba(0,0,0,1);
	-moz-box-shadow: 0px 4px 20px -5px rgba(0,0,0,1);
	box-shadow: 0px 4px 20px -5px rgba(0,0,0,1);
}
.container{
    max-width:1000px;
    margin:0 auto;
}

figure {
    margin:0;
}

.banner{
  height: 350px;background-size:cover;
  background-image: url(images/banner.jpg);
  background-position:center;
}

.gallery {
  display:flex;
  flex-wrap:wrap;
}

.gallery-item{
  width: 100%;
  padding: 4px;
}

.gallery-item img{
  width: 100%;
  height:auto;
}


.banner{
  height: 350px;
  background-size:cover;
  background-image:url(images/banner.jpg);
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
